/* COMMON */

body{
  font-family: 'Nanum Gothic', sans-serif;
  height: 5000px;
}
a{
  text-decoration: none;
}
.inner{
  width: 1100px;
  height: 120px;
  margin: 0 auto;
  position: relative;
}

/* HEADER */

header{
  background-color: #f6f5f0;
  border: 1px solid #c8c8c8;
  position: fixed;
  width: 100%;
}
header .inner{
  z-index: 2;
}
/* Logo */
header .inner .logo{
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
/* SubMenu */
header .inner .sub-menu{
  display: flex;
  position: absolute;
  top: 10px;
  right: 0;
}
header .inner .sub-menu .menu{
  font-family: Arial, sans-serif;
  display: flex;
}
header .inner .sub-menu .menu li::before{
  content: " ";
  background-color: #e5e5e5;
  width: 1px;
  height: 12px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .inner .sub-menu .menu li:first-child::before{
  display: none;
}
header .inner .sub-menu .menu li a{
  color: #656565;
  font-size: 13px;
  display: block;
  padding: 11px 16px;
}
header .inner .sub-menu .menu li a:hover{
  color: #000;
}
header .inner .sub-menu .search{
  height: 34px;
  position: relative;
}
header .inner .sub-menu .search input{
  width: 36px;
  height: inherit;
  padding: 4px 10px;
  outline: none;
  background-color: #fff;
  color: #777;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;

  transition: width, .4s;
}
header .inner .sub-menu .search input:focus{
  width: 190px;
  border-color: #669900;
}
header .inner .sub-menu .search span{
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: .4s;
}
header .inner .sub-menu .focused span{
  opacity: 0;
}
/* MainMenu */
header .inner .main-menu{
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
}
header .inner .main-menu .item .item__name{
  padding: 10px 20px 34px 20px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  color: #333;
}
header .inner .main-menu .item:hover .item__name{
  color: #669900;
  background-color: #2c2a29;
  border-radius: 5px 5px 0 0;
}
header .inner .main-menu .item .item__contents{
  display: none;
  position: fixed;
  width: 100%;
  left:0;
  background-color: #2c2a29;
}
header .inner .main-menu .item:hover .item__contents{
  display: block;
}
header .inner .main-menu .item .item__contents .contents__menu > ul{
  padding: 20px 0;
  height: auto;
  display: flex;
}
header .inner .main-menu .item .item__contents .contents__menu > ul > li{
  width: 220px;
}
header .inner .main-menu .item h4{
  font-size: 14px;
  padding: 3px 0px 12px;
  color: #fff;
  font-family: 'Nanum Gothic', sans-serif;
}
header .inner .main-menu .item .item__contents .contents__menu > ul > li ul li{
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  font-family: 'Nanum Gothic', sans-serif;
  cursor: pointer;

  line-height: 1.6;
}
header .inner .main-menu .item .item__contents .contents__menu > ul > li ul li:hover{
  color: #669900;
}
header .inner .main-menu .item .item__contents .contents__texture{
  background-image: url(../assets/images/main_menu_pattern.jpg);
  width: 100%;
}
header .inner .main-menu .item .item__contents .contents__texture>div{
  height: auto;
  font-size: 12px;
  padding: 26px 0;
}
header .inner .main-menu .item .item__contents .contents__texture > div h4{
  color: #999;
}
header .inner .main-menu .item .item__contents .contents__texture > div p {
  color: #64a70b;
  margin: 4px 0 14px;
}
/* Badges */
header .badges {
  position: absolute;
  top: 132px;
  right: 16px;
}
header .badges .badge img{
  display: block;
  margin-bottom: 12px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 4px, 4px, 10px, rgba(0, 0, 0, .15);
  cursor: pointer;
}